@{
}

<h1>
    Authentication
</h1>

@if(User.Identity.IsAuthenticated){
    @User.Identity.Name
}

<dl>
    @foreach (var item in User.Claims)
    {
       <dt>
           @item.Type
       </dt>
       <dd>
           @item.Value
       </dd>
    }

</dl>
